/* --blue-color: #b5bcc2; */
* {
	transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

html, body {
	margin: 0;
	height: 0;
	height: 100vh;
	width: 100vw;
	font-family: "arial";
	background-color: white;
}

/* body  {
	background: linear-gradient(to bottom, white 0%, white 20%, white 20%, rgba(116, 155, 194, 0.2) 0%, rgba(116, 155, 194, 0.2) 75%);
	} */

.body-container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	padding: 0;
	margin: 10px;
	width: 100%; /* PERCENTAGE OF body vw (which is 100vw) */
	height: 100%;
	align-items: center;
	flex-direction: column;
}

/* @media all and (max-width: 800px) and (min-height: 800px) {
	.body-container {
		width: 75%;
		height: 75%;
	}
} */

h1 {
	width: 50%;
  /* position: sticky;
	top: 0; */
	padding: 15px;
	margin: 0px 25px;
	margin-bottom: 10px;
	opacity: 0.7;
	background-color: white;
	/* background-image: linear-gradient(#cccccc, #fff); */
	color: #3d6185;
	border-radius: 10px;
	border: 1px solid #749bc2;
	font-weight: 100;
	font-size: 24px;
	box-shadow: 0 12px 16px 0 rgba(83, 83, 83, 0.18),
		0 17px 50px 0 rgba(83, 83, 83, 0.14);
	text-align: center;

	background-color: #749bc2;
	border: 2px solid #749bc2;
  color: white;
}

/* @media all and (max-width: 800px) and (min-width: 650px) {
	h1 {
		font-size: 1.75em;
	}
}

@media all and (max-width: 650px) and (min-width: 450px) {
	h1 {
		font-size: 1.50em;
		width: 75%;
	}
}

@media all and (max-width: 450px) and (min-width: 250px) {
	h1 {
		font-size: 1.00em;
	}
} */

p {
	padding: 5px 15px;
	height: 1em;
	margin-bottom: 50px;
	opacity: 0.4;
	/* background-color: rgba(83, 83, 83, .2); */
	background-color: white;
	/* background-image: linear-gradient(#cccccc, #fff); */
	border-radius: 15px;
	/* border: .5px solid #749bc2; */
	font-weight: 400;
	font-size: 11px;
	color: #3d6185;
	letter-spacing: 2px;
	/* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19); */
	text-align: center;
}

/* @media all and (max-width: 800px) and (max-height: 800px) {
	p {
		margin-bottom: 25px;
	}
} */


/* #input, #enter {
	flex-direction: row;
	flex-direction: nowrap;
	height: 100%;
} */

.input-enter {
	position: relative;
	width: 50%;
	/* height: 40px; */
	height: 1;
	/* background-color: red; */
	/* border: 1px solid; */
	border-radius: 15px;
	font-size: 11px;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	box-shadow: 0 12px 16px 0 rgba(90, 88, 88, 0.12),
		0 17px 50px 0 rgba(75, 73, 73, 0.1);
}

#input {
	box-sizing: border-box;
	position: static;
	/* height: 16px; */
	/* width: 60%; */
	height: 100%;
	/* margin-right: 10%; */
	width: 70%;
	border-radius: 15px 0px 0px 15px;
	/* background-color: #ccc; */
	background-color: rgba(83, 83, 83, .2);
	border: 2px solid rgba(223, 223, 223, 0.2);
  padding: 5px;
	color: #749bc2;
	/* font-size: 14px; */
	letter-spacing: 1px;
	text-align: center;
	opacity: 0.8;
	/* box-shadow: 0 12px 16px 0 rgba(90, 88, 88, 0.12),
		0 17px 50px 0 rgba(75, 73, 73, 0.1); */
	font-weight: 200;
	transition: background-color .5s ease-in;
}

#input:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
	0 17px 50px 0 rgba(0, 0, 0, 0.19);
		background-color: rgba(83, 83, 83, .2);
	border: 2px solid #3d6185;
	opacity: .4;
	letter-spacing: 1px;
	/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57); */
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	transition: box-shadow .5s ease-in;
}

#input::placeholder {
  color: white;
  opacity: .6;
	font-weight: 500;
	color: #3d6185;
}

#enter {
	box-sizing: border-box;
	position: static;
	height: 100%;
	width: 30%;
	border-radius: 0px 15px 15px 0px;
	padding: 5px;
  opacity: 0.8;
	font-weight: 200;
	/* font-size: 14px; */
	text-decoration: none;
	transition: all 0.5s ease 0s;
	background-color: rgb(199, 199, 199);
	border: 2px solid rgb(199, 199, 199);
	color:  #3d6185;
	letter-spacing: 1px;
	/* box-shadow: 0 12px 16px 0 rgba(90, 88, 88, 0.12),
		0 17px 50px 0 rgba(75, 73, 73, 0.1); */
}

#enter:hover {
	border: 2px solid #3d6185;
	opacity: .3;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
		text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	transition: border .5s ease-in;
}

#enter:active {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.5s ease 0s;
  background: #5e6566;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

/* 
/////////////////////////////////
test button function 
/////////////////////////////////
#enter {
	position: static;
	height: 100%;
	width: 30%;
	border-radius: 10px;
	padding: 5px;
  opacity: 0.3;
  font-weight: 500;
	text-decoration: none;
	background-color: black;
	color: white;
	border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#enter:focus {
	border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 5px;
	text-shadow: 1px 1px 2px #427388; 
	border-radius: 10px;
}
////////////////////////////////////
test button expandable function 
////////////////////////////////////
 */

.done {
	text-decoration: line-through;
	color: rgba(64, 64, 64, 0.8);
}

.list-box {
	margin-top: 25px;
	/* padding: 2px 40px 2px 40px; */
	width: 50%;
	opacity: .5;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
	0 17px 50px 0 rgba(0, 0, 0, 0.19);
		background-color: rgba(83, 83, 83, .2);
	/* border: 2px solid white; */
	letter-spacing: 1px;
	/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57); */
	text-shadow: 0px 0px 6px rgb(226, 223, 223);
	transition: box-shadow .5s ease-in;
}

/* .list-box:not(:active) {
	border-radius: 15px;
	/* box-shadow: 0 12px 16px 0 rgba(90, 88, 88, 0.12),
		0 17px 50px 0 rgba(75, 73, 73, 0.1); */
	/* opacity: 0.5;
	background-color: rgba(83, 83, 83, .2); */
	/* background-image: linear-gradient(#cccccc, #e3e3e3, #ffffff); 
} */

/* .list-box:enabled {
	border-radius: 10px;
	box-shadow: 0 12px 16px 0 rgba(90, 88, 88, 0.12),
		0 17px 50px 0 rgba(75, 73, 73, 0.1);
	opacity: 0.8;
  background-color: black;
} */

.list-box:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	/* border: 2px solid #3d6185; */
	transition: border .5s ease-in;
}


#clear-all {
	position: relative;
	width: 20%;
	font-size: 11px;
	box-sizing: border-box;
	/* flex-wrap: nowrap;
	display: inline-flex; */
	height: 1;
	margin-top: 25px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	border-radius: 15px;
	background-color: #749bc2;
	border: 2px solid #749bc2;
  color: white;
	text-align: center;
	/* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19); */
	font-weight: 200;
	opacity: 0.7;
	padding: 5px;
	transition: box-shadow .5s ease-in;
	transition: background-color .5s ease-in;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}

@media screen and (max-width: 600px) {
	.clear-all {
		width: 35%;
	}
}

@media all and (max-width: 800px) and (min-width: 650px) {
	.clear-all {
		width: 35%;
		font-size: 10px;
	}
}

@media all and (max-width: 650px) and (min-width: 450px) {
	.clear-all {
		font-size: 9px;
	}
}

#clear-all:hover {
	background: #749bc2;
	border: 2px solid white;
	opacity: .3;
	transition: border .5s ease-in;
	/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);  */
}

li {
	width: 70%;
	z-index: 1;
	cursor: pointer;
	color: #3d6185;
	opacity: 1.0;
	font-size: 11px;
	font-weight: 400;
	/* padding: 80px 1px; */
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 15px;
	/* width: 84%; */
	/* background-color: red; */
	text-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
	0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

li:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		transition: hover .7s ease-in;
		transition: background-color .5s ease-in;
		/* background-color: #87b6e4; */
		opacity: .7;
		/* font-size: 16px; */
		transition: font-size .4s ease-in;
		/* color: black; 

}

.black {
	/* background-color: rgb(199, 199, 199); */
	background-color: rgba(64, 64, 64, 0.4);;
}

/* @media all and (max-height: 800px) {
	li {
		padding: 10px;
	}
}

@media all and (max-width: 800px) and (min-width: 650px) {
	li {
		font-size: 16px;
	}
}

@media all and (max-width: 650px) and (min-width: 450px) {
	li {
		font-size: 14px;
	}
}

@media all and (max-width: 450px) and (min-width: 250px) {
	li {
		font-size: 12px;
	}
}

@media all and (max-width: 350px) and (min-width: 50px) {
	li {
		font-size: 10px;
	}
} */

li::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
	opacity: .7;
	margin-bottom: 3px;
}

li::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
	opacity: .7;
	margin-top: 3px;
}

.fade-in {
	transition: ease-in 1s;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

}



/* li > .delete-li-btn {
	display: inline-flex;
	background-color: red;
} */

.delete-li-btn:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 2);
}

.list-box {
	display: inline-flex;
}

/* .list-btn {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
} */

.delete-li-btn {
	/* display: inline-flex; */
	box-sizing: border-box;
	position: static;
	height: 1;
	width: 30%;
	border-radius: 0px 15px 15px 0px;
	padding: 5px;
  opacity: 1;
	font-weight: 200;
	/* font-size: 14px; */
	text-decoration: none;
	transition: all 0.5s ease 0s;
	background-color: #749bc2;
	border: 1px solid #749bc2;
	color:  white;
	letter-spacing: 2px;
	
}
